@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'montserrat';
  src: url('../src/assets/fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('../src/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('../src/assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('../src/assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: bolder;
}

@font-face {
  font-family: 'montserrat';
  src: url('../src/assets/fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: bolder;
}

@font-face {
  font-family: 'ants';
  src: url('../src/assets/fonts/killer-ants.ttf') format('truetype');
  font-weight: 900;
  font-style: bolder;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
  cursor: url('../public/circle.svg'), auto;
}

body {
  min-height: 100vh;
  height: fit-content;
  color: black;
  background: white;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.textured-font {
  font-family: ants, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

